* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

details {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

summary {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  position: relative;
}

.header__inner {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left li:not(:first-child):hover {
  opacity: 0.8;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right .header__item:hover:not(:first-child) {
  opacity: 0.8;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 14.38%;
  height: calc(100vh - 75px);
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  left: 85.6%;
  top: 75px;
  z-index: 1;
}

.header .header__menu .menu-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 34px;
  padding-top: 37px;
}

.header .header__menu .list-man-head {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-left: 33px;
  padding-top: 24px;
}

.header .header__menu .list-man {
  padding-left: 55px;
  padding-top: 11px;
}

.header .header__menu .list-man .menu__link {
  padding-top: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.header .header__menu .list-man__item {
  padding-top: 11px;
}

.header summary::after {
  content: url(img/Vector.svg);
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 999;
  top: 83px;
  right: 11px;
  display: none;
}

.header details[open] summary::after {
  display: block;
}

.promo {
  background-color: #f1e4e6;
}

.promo__wrap {
  background-image: url(img/man_promo.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__inner {
  max-width: 406px;
  border-left: 12px solid #f16d7f;
}

.promo__text {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  margin-left: 16px;
  font-size: 20px;
}

@media (min-width: 767px) {
  .promo__text {
    font-size: 24px;
    font-size: calcFluidFontSize(20px, 32px, 767px, 1156px);
  }
}

@media (min-width: 1156px) {
  .promo__text {
    font-size: 32px;
  }
}

.promo__text_black {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  font-size: 38px;
}

@media (min-width: 767px) {
  .promo__text_black {
    font-size: 44px;
    font-size: calcFluidFontSize(38px, 48px, 767px, 1156px);
  }
}

@media (min-width: 1156px) {
  .promo__text_black {
    font-size: 48px;
  }
}

.promo__text_pink {
  color: #f16d7f;
}

.catalog {
  padding-top: 65px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__section-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__section-bg:not(:last-child) {
  width: 32%;
  height: 22vw;
  max-height: 260px;
}

.catalog__section-bg:last-child {
  width: 100%;
  margin-top: 2vh;
  min-height: 111px;
  max-height: 180px;
  height: 12vw;
}

.catalog__section-bg .bg--one {
  background: url(img/bg_sections.png), url(img/section_woman.png);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__section-bg .bg--two {
  background-image: url(img/bg_sections.png), url(img/section_man.jpg);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__section-bg .bg--three {
  background-image: url(img/bg_sections.png), url(img/section_kids.jpg);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__section-bg .bg--four {
  background-image: url(img/bg_sections.png), url(img/section_accesories.jpg);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__section-bg:hover .bg--one,
.catalog__section-bg:hover .bg--two,
.catalog__section-bg:hover .bg--three,
.catalog__section-bg:hover .bg--four {
  background-size: 120%;
  -webkit-transition: background-size 0.8s ease-out;
  transition: background-size 0.8s ease-out;
}

.catalog__heading {
  position: absolute;
  text-align: center;
  z-index: 999;
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.catalog__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.cards-items {
  text-align: center;
  padding-bottom: 95px;
}

.cards-items__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.cards-items__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
}

.cards-items__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-items .hidden-button {
  padding: 10px 17px;
  position: absolute;
  left: 110px;
  top: 188px;
  border: 1px solid #ffffff;
  display: none;
}

.cards-items .hidden-button__text {
  margin-left: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.cards-items .hidden-button:hover {
  background-color: #f8f3f4;
  border: none;
}

.cards-items .hidden-button:hover p,
.cards-items .hidden-button:hover img {
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
}

.cards-items__card-size {
  width: 360px;
  height: 420px;
}

.cards-items__card {
  position: relative;
  max-width: 360px;
  background: #f8f8f8;
  margin-bottom: 30px;
  text-align: left;
}

.cards-items__card_iner {
  padding-left: 18px;
}

.cards-items__card:hover .cards-items__card-size {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cards-items__card:hover .hidden-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-items__heading {
  padding-top: 24px;
  padding-bottom: 13px;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}

.cards-items__heading a {
  color: #000000;
}

.cards-items__heading a:hover {
  color: #f16d7f;
}

.cards-items__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-bottom: 18px;
}

.cards-items__price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-bottom: 20px;
}

.cards-items__button {
  display: inline-block;
  padding: 15px 39px;
  border: 1px solid #ff6a6a;
  background-color: #ffffff;
  margin-top: 18px;
}

.cards-items__button_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.cards-items__button:hover {
  background: #f16d7f;
}

.cards-items__button:hover .cards-items__button_text {
  color: #ffffff;
}

.cards-items__slide {
  margin: 0 auto;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 16px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 18px;
}

.cards-items__slide a {
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
  padding-left: 20px;
}

.cards-items__slide a:hover {
  color: #ef5b70;
}

.cards-items__slide a:last-child {
  padding-right: 20px;
}

.cards-items__slide .not_padding {
  padding-left: 0;
}

.features {
  background: #222224;
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0;
}

.features__box {
  text-align: center;
}

.features__heading {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  padding-top: 25px;
  padding-bottom: 16px;
}

.features__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
  max-width: 360px;
}

.subscriptions {
  background-image: url(img/photo_subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  -webkit-backdrop-filter: contrast(0.8);
          backdrop-filter: contrast(0.8);
}

.subscriptions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

.subscriptions__slogan {
  text-align: center;
}

.subscriptions__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
  max-width: 360px;
}

.subscriptions__text_italic {
  font-style: italic;
}

.subscriptions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.subscriptions__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscriptions__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscriptions__input {
  background: #e1e1e1;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  padding: 15px 15px 15px 28px;
  border-radius: 23px 0 0 23px;
  border: none;
  width: 100%;
}

.subscriptions__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f16d7f;
  padding: 15px 20px;
  border-radius: 0 23px 23px 0;
  border: none;
  cursor: pointer;
}

.subscriptions__button:hover {
  background-color: rgba(241, 109, 127, 0.767);
}

.footer {
  background-color: #222224;
}

.footer__wrap {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrap .copy {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .socials .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
}

.footer .socials .footer-button:hover {
  background: #f16d7f;
}

.footer .socials .footer-button:hover .footer-social-image {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .socials .footer-button:not(:last-child) {
  margin-right: 8px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.head {
  background: #f8f3f4;
}

.head__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  padding: 60px 0;
}

.head__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__wrap details summary {
  color: #f26376;
}

.head__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.head__menu li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.head__menu li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.head__menu li a:hover {
  text-decoration: underline;
}

.filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-menu__wrap {
  padding-top: 51px;
  padding-bottom: 64px;
  width: 360px;
  position: relative;
}

.filter-menu .main-filter {
  padding: 16px 16px 16px 16px;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 35px;
}

.filter-menu .main-filter .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-menu .main-filter .title::after {
  content: "";
  background-image: url(img/filter.svg);
  width: 15px;
  height: 10px;
  position: absolute;
  background-size: cover;
  left: 75px;
  top: 19px;
}

.filter-menu .main-filter__category > summary {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  margin-top: 18px;
}

.filter-menu .main-filter__category ul {
  padding: 24px 0;
}

.filter-menu .main-filter__category ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 12px;
}

.filter-menu .main-filter__category ul li:not(:first-child) {
  margin-top: 11px;
}

.filter-menu .main-filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-menu .dropdown-input {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-menu .dropdown-input details {
  position: relative;
}

.filter-menu .dropdown-input details form {
  position: absolute;
  background-color: #ffffff;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-menu .dropdown-input details form label {
  display: inline-block;
  padding-top: 7px;
  padding-left: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6f6e6e;
}

.filter-menu .dropdown-input details form label:last-child {
  margin-bottom: 11px;
}

.filter-menu .dropdown-input details form label input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 9px;
}

.filter-menu .dropdown-input details summary {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter-menu .dropdown-input details summary::after {
  content: url(img/arrow.svg);
  margin-left: 10px;
}

.filter-menu .dropdown-input details:not(:last-child) {
  padding-right: 28px;
}

.product__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  height: 777px;
  background-image: url(img/product_promo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.product__promo .promo-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  background-color: rgba(2, 2, 2, 0.15);
}

.product__promo .promo-arrow_arrow {
  width: 12px;
  height: 24px;
}

.product__content {
  background: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -64px;
  margin-bottom: 128px;
}

.product__content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 640px;
  border-bottom: 1px solid #eaeaea;
}

.product__content_top h1 {
  margin-top: 64px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.product__content_top hr {
  margin-top: 12px;
  width: 63px;
  height: 3px;
  background: #f16d7f;
  border: none;
}

.product__content_top h2 {
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.product__content_top p {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  max-width: 555px;
}

.product__content_top strong {
  margin-top: 32px;
  margin-bottom: 64px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.product__content_active-box {
  margin-top: 66px;
}

.product__content_active-box a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.product__content_active-box a img {
  padding-left: 9px;
}

.product__content_active-box a:not(:first-child) {
  padding-left: 23px;
}

.product__content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.product__content_button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 56px 14px 24px;
  border: 1px solid #ff6a6a;
}

.product__content_button a img {
  padding-right: 24px;
}

.product-cart__title h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  padding: 60px 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 96px;
  padding-bottom: 128px;
}

.main-content__cards {
  max-width: 652px;
}

.main-content__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.main-content__cards .card:not(:first-child) {
  margin-top: 40px;
}

.main-content__cards .card__img img {
  width: 262px;
  height: 100%;
}

.main-content__cards .card .card__text {
  margin-left: 31px;
  margin-top: 22px;
}

.main-content__cards .card .card__text h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.main-content__cards .card .card__text p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-content__cards .card .card__text p:not(:first-child) {
  margin-top: 6px;
}

.main-content__cards .card .card__text--pink {
  color: #ef5b70;
}

.main-content__cards .card .card__text input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 43px;
  margin-left: 24px;
  padding: 1px 16px;
  border-radius: 0;
  border: 1px solid #eaeaea;
  outline: none;
}

.main-content__cards .card .card__button {
  margin-top: 28px;
  margin-right: 22px;
  padding-left: 124px;
}

.main-content__cards .card .card__button img {
  width: 18px;
}

.main-content__cards .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.main-content__cards .button-box button {
  padding: 16px 40px;
  background: #ffffff;
  border: 1px solid #a4a4a4;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-content__cards .button-box button:hover {
  background: #f16d7f;
  border: none;
  color: #ffffff;
}

.main-content__input {
  margin-left: 128px;
}

.main-content__input form h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.main-content__input form input {
  padding: 13px 20px 13px 18px;
  width: 360px;
  border: 1px solid #a4a4a4;
}

.main-content__input form input:not(:last-child) {
  margin-top: 20px;
}

.main-content__input form button {
  margin-top: 23px;
  padding: 12px 16px;
  border: 1px solid #a4a4a4;
  background: #ffffff;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  cursor: pointer;
}

.main-content__input .checkout-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f3f3;
  padding-top: 42px;
  padding-bottom: 42px;
  margin-top: 57px;
}

.main-content__input .checkout-box hr {
  margin: 21px auto 17px auto;
  width: 275px;
  background: #e2e2e2;
  height: 1px;
  border: none;
}

.main-content__input .checkout-box p {
  text-align: end;
}

.main-content__input .checkout-box p:not(:last-child) {
  margin-top: 14px;
  margin-right: 34px;
}

.main-content__input .checkout-box p strong {
  margin-left: 24px;
}

.main-content__input .checkout-box--litle-font {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.main-content__input .checkout-box--big-font {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.main-content__input .checkout-box button {
  padding: 16px 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.main-content__input .checkout-box button:hover {
  background-color: rgba(241, 109, 127, 0.767);
}

.main-content__input .checkout-box--pink {
  color: #f16d7f;
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__form {
  margin-right: 128px;
}

.registration__form form p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  max-width: 360px;
}

.registration__form form p:last-child {
  margin-top: 15px;
  margin-bottom: 39px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration__form form input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  padding: 13px;
  width: 360px;
  border: 1px solid #a4a4a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__form form input:not(:first-child) {
  margin-top: 20px;
}

.registration__form form input:nth-child(3) {
  margin-left: 20px;
}

.registration__form form .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__form form .gender input {
  width: auto;
  margin-top: 31px;
  margin-bottom: 33px;
}

.registration__form form .gender label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-left: 10px;
}

.registration__form button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 16px 29px;
  background: #f16d7f;
  border: none;
  cursor: pointer;
}

.registration__form button::after {
  content: url(img/right__arrow.svg);
  margin-left: 20px;
}

.registration__form button:hover {
  background-color: rgba(241, 109, 127, 0.767);
}

.registration__text h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration__text p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration__text ul {
  list-style-image: url(img/marker.svg);
}

.registration__text ul li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 30px;
}

.registration__text ul li:not(:first-child) {
  margin-top: 16px;
}

@media (max-width: 1156px) {
  .container {
    max-width: 97%;
  }
  .promo__text {
    line-height: 24px;
    margin-right: 15px;
  }
  .promo__text__black {
    line-height: 46px;
  }
  .promo__wrap {
    background-position-x: -6vw;
  }
  .header__inner {
    margin: 0 32px;
  }
  .catalog {
    padding-top: 20px;
  }
  .features__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 64px 0;
  }
  .features__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .features__box:not(:first-child) {
    padding-top: 48px;
  }
  .subscriptions__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 120px;
  }
  .subscriptions__slogan,
  .subscriptions__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptions__slogan {
    margin-bottom: 48px;
  }
  .cards-items {
    padding-bottom: 64px;
  }
  .cards-items__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-items__card:nth-child(odd) {
    margin-right: 3%;
  }
  .footer__wrap {
    margin: 0 32px;
  }
  .card--off {
    display: none;
  }
  .main-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
  }
  .main-content__input {
    margin-left: 0;
  }
  .main-content__input form button {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main-content__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
  }
  .main-content__cards {
    max-width: none;
  }
  .main-content__cards .button-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-content__input .checkout-box button {
    margin: 0 44px;
  }
  .main-content__input .checkout-box {
    margin-top: 39px;
    width: 360px;
    margin-left: 15px;
  }
  .main-content__input form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content__input form input {
    width: 320px;
  }
  .registration__text {
    max-width: 360px;
  }
  .registration__text h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__text p {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__text ul li {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__form {
    margin-right: 22px;
  }
  .registration {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 910px) {
  .header__right .header__item:not(:last-child) {
    display: none;
  }
  .promo__wrap {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__section-bg:not(:last-child) {
    width: 100%;
    height: 66vw;
  }
  .catalog__section-bg:not(:first-child) {
    margin-top: 32px;
  }
  .catalog {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .promo__wrap {
    min-height: 364px;
  }
  .cards-items {
    padding-bottom: 96px;
  }
  .cards-items__card:nth-child(odd) {
    margin-right: 0;
  }
  .cards-items__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .socials {
    display: none;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-items__subtitle {
    margin-bottom: 64px;
  }
  .subscriptions {
    background-position: left;
  }
  .cards-items__card {
    width: 95vw;
  }
  .cards-items__card-size {
    width: 95vw;
    height: 100%;
    max-width: 360px;
    max-height: 420px;
  }
  .head__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  .head__wrap nav {
    padding-bottom: 46px;
  }
  .head__heading {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .filter-menu .main-filter .title {
    font-size: 0;
  }
  .filter-menu .main-filter .title::after {
    left: 6px;
    width: 37.5px;
    height: 25px;
    top: 7px;
  }
  .filter-menu .main-filter {
    width: 0;
  }
  .filter-menu .main-filter[open] {
    width: 96vw;
  }
  .filter-menu__wrap {
    width: 0;
  }
  .filter-menu .dropdown-input details summary {
    font-size: 12px;
  }
  .filter-menu .dropdown-input details:not(:last-child) {
    padding-right: 24px;
  }
  .filter-menu .dropdown-input {
    margin-left: 26vw;
  }
  .product__content_active-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__content_active-box a {
    font-size: 10px;
  }
  .product-cart__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content__input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content__cards .card__img img {
    width: 144px;
  }
  .main-content__cards .card .card__text h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
    max-width: 140px;
  }
  .main-content__cards .card .card__text p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
  }
  .main-content__cards .card .card__button {
    padding-left: 0;
    margin-top: 14px;
  }
  .main-content__cards .card .card__text {
    padding-right: 12vw;
    margin-top: 14px;
    margin-left: 17px;
  }
  .main-content__cards .card .card__button img {
    width: 11px;
  }
  .main-content__cards .button-box button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 18px;
  }
  .main-content__input .checkout-box {
    margin-left: 15px;
  }
  .registration {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .registration__text {
    margin-top: 40px;
  }
  .registration__form {
    margin-right: 0;
  }
}

@media (max-width: 757px) {
  .main-content__input .checkout-box {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */